" source meine basic vim Einstellungen
source ~/.vimrc

""""""""""""""""""""""""""""""""""""
" IDEA Vim Plugins
""""""""""""""""""""""""""""""""""""
set highlightedyank

" surround plugin
" surround (ys), delete (ds), and change (cs).
" ysiw" um ein Wort mit Anfangs - und End " - siehe auch https://towardsdatascience.com/how-i-learned-to-enjoy-vim-e310e53e8d56
set surround

set commentary
" gcc: Comment current line.
" gc + motion: Comment using the motion.
" gc: Comment selected text.

" set clipboard command enables using the system clipboard from IdeaVim and vice-versa.
set clipboard+=unnamed
set clipboard+=ideaput

"The following defines two remaps:,e to open the file and ,r to reload it.
nnoremap ,e :e ~/.ideavimrc<CR>
nmap ,r <action>(IdeaVim.ReloadVimRc.reload)


""""""""""""""""""""""""""""""""""""
" IDEA Actions 
""""""""""""""""""""""""""""""""""""
" Find usages in file is Ctrl + F7.
nmap <leader>fu <Action>(FindUsages)
" Ctrl + F12 in idea.
nmap <leader>fs <action>(FileStructurePopup)
nmap <leader>gg <action>(GotoImplementation)
nmap <leader>gb <action>(Back)
nmap <leader>gp <action>(Git.Pull)
nmap <leader>y <action>(PasteMultiple)
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>n <action>(Generate)
nmap <leader>m <action>(Git.Menu)
nmap <leader>re <action>(RenameElement)
nmap <leader>rf <Action>(RecentFiles)
nmap <leader>oi <action>(OptimizeImports)
" toggle breakpoint
nmap <leader>tb <action>(ToggleLineBreakpoint)


""""""""""""""""""""""""""""""""""""
" IDEA Runtime Commands 
""""""""""""""""""""""""""""""""""""
nmap <leader>rr <action>(Run)
nmap <leader>rc <action>(ContextRun)
nmap <leader>dc <action>(ContextDebug)
nmap <leader>dr <action>(Debug)


""""""""""""""""""""""""""""""""""""
" IDEA Tabs 
""""""""""""""""""""""""""""""""""""
" SplittingTabsToolWindow.MoveTabRight
norenmap <leader>sr <action>(SplittingTabsToolWindow.MoveTabRight)


" highlight nach suche :/ wieder entfernen
nnoremap <esc> :noh<return><esc>
